<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599224681342-7fmqe32v83foejh4mt4p41ke7mr99dr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599224681342-7fmqe32v83foejh4mt4p41ke7mr99dr6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599224681342-i7nd5p4jelht0kah4lblhvj5jta4h93u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2kWv9W_4CtB3y5yobHyz6-3gHDl_1whE</string>
	<key>GCM_SENDER_ID</key>
	<string>599224681342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bhd.GateLockerIOS</string>
	<key>PROJECT_ID</key>
	<string>gatelocker-7aafc</string>
	<key>STORAGE_BUCKET</key>
	<string>gatelocker-7aafc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599224681342:ios:950082d38d877f9333e92f</string>
	<key>DATABASE_URL</key>
	<string>https://gatelocker-7aafc.firebaseio.com</string>
</dict>
</plist>